.price__discount,
.sale {
  width: 3.6rem;
  background: #669f2a;
  border-radius: 0.4rem;
  padding: 0rem 0.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2.6rem;
  text-align: center;
  color: #ffffff;
}

// category

.game {
  display: inline-block;
  padding: 0rem 0.8rem;

  height: 2.2rem;
  background: #f9f5ff;
  border-radius: 0.4rem;
  @extend %flexAIC;
  span {
    font-size: 1.2rem;
    padding-left: 1.2rem;
    line-height: 2.2rem;
    font-weight: normal;
    display: block;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;
    }
  }
}

//colob bage category game

.shooter {
  background: #f9f5ff;
  span {
    color: #7f56d9;
    &::before {
      background: #7f56d9;
    }
  }
}

.multiplayerRPG {
  background: #fff1f3;
  span {
    color: #e31b53;
    &::before {
      background: #e31b53;
    }
  }
}
.action {
  background: #fffaeb;
  span {
    color: #dc6803;
    &::before {
      background: #dc6803;
    }
  }
}
.cardGame {
  background: #ecfdf3;
  span {
    color: #039855;
    &::before {
      background: #039855;
    }
  }
}
.strategy {
  background: #f7f7ea;
  span {
    color: #57534e;
    &::before {
      background: #57534e;
    }
  }
}
.actionRPG {
  background: #f0f9ff;
  span {
    color: #0086c9;
    &::before {
      background: #0086c9;
    }
  }
}
/* search category*/
.category_search {
  position: relative;
  display: inline-block;
  background-color: #f4ebff;
  border-radius: 0.2rem;
  color: #7f56d9;
  margin-bottom: 0.4rem;
  margin-right: 0.8rem;
  padding: 1rem 4rem 1rem 1.6rem;
  font-size: 1.4rem;
  line-height: 2rem;

  & > .remove {
    position: absolute;
    top: calc(50% - 0.9rem);
    right: 1.6rem;
  }
  svg {
    width: 1.2rem;
    height: 1.2rem;
  }
}
