.pagination {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
}
@media (min-width: 100px) and (max-width: 767px) {
  .pagination {
    display: none;
  }
}
.page-item {
  margin: 0 8px;
}

.page-link {
  position: relative;
  display: block;
  color: #101828;
  text-decoration: none;

  width: 36px;
  height: 36px;
  background-color: #fff;
  line-height: 36px;
  box-sizing: border-box;
  padding: 0;
  text-align: center;
  border-radius: 0.8rem;
  font-size: 14px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.page-link:hover {
  background: #f9f5ff;
  color: #7f56d9;
}
.page-item:not(:first-child) .page-link {
  margin-left: -1px;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;

  background-color: #7f56d9;
  border-color: #0d6efd;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
  border-color: #dee2e6;
  color: #101828;
}

.page-item:first-child .page-link {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
